#footer {
  background-image: linear-gradient(rgb(82, 75, 75), aqua);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  border-bottom: none;
}

li:hover {
  color: orange;
  font-weight: bold;
}
