$navbar-color: aqua;
* {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: $navbar-color;
  list-style: none;
  .logo {
    margin-right: 10px;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  .input {
    border-style: none;
    padding: 0.4rem;
  }
}
