.container {
  display: flex;
  justify-content: space-around;
  grid-gap: 5px;
  margin: 5px;
  flex-wrap: wrap;
  .card {
    text-align: center;
    border: 1px solid aqua;
    box-shadow: 0 4px 8px 0 rgb(41, 42, 42);
    .image {
      max-width: 400px;
      min-width: 200px;
      width: 100%;
      height: auto;
    }
  }
}
