/* We need to start using IDs for common things like lists, list items, cards, images 
so that we don't change each other's code or override our past work, we also need to 
keep id and class name on same scss tree so it wont catch other components*/

/* HEADER COMPONENT */
$navbar-color: aqua;
* {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-color;
  .logo {
    margin-left: 40px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 60px;
      justify-content: center;
      list-style: none;
      border-bottom: 3px solid black;
      font-size: 1.1rem;
    }
    &:hover {
      cursor: pointer;
      text-shadow: 0.5px 0.5px;
    }
  }
}

/* FOOTER COMPONENT*/
#footer {
  background-color: $navbar-color;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 40px;
  font-family: "Open Sans", sans-serif;
  border-bottom: none;
  position: relative;
  bottom: 0;
  .logos {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    img {
      width: 50px;
      height: auto;
    }
  }
  .links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
  }
  .links:hover {
    cursor: pointer;
    text-shadow: 0.5px 0.5px;
  }
  .copyRights {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 13px;
    align-items: center;
    text-align: center;
  }
}

/* TRAVEL COMPONENT*/
#travelpage {
  display: flex;
  justify-content: space-around;
  grid-gap: 5px;
  margin: 5px;
  flex-wrap: wrap;
  .card {
    text-align: center;
    border: 1px solid $navbar-color;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    .image {
      max-width: 400px;
      min-width: 200px;
      width: 100%;
      height: auto;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

/*HOME COMPONENT */

#homepage {
  display: flex;
  justify-content: space-around;
  grid-gap: 5px;
  margin: 5px;
  flex-wrap: wrap;
  color: #FFF;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.homeHeader {
  font-family: Helvetica Neue;
  text-align: center;
}